

.one-product-detail{
    display: flex;
    flex-direction: column;
    border: 1px solid blue;
    border-radius: 10px;
    height: 650px;
   
}


.one-information-con{
    border: 1px solid blue;
    margin:auto;
    border-radius: 10px;
    height: 300px;
    /* position: absolute;
    bottom: 0; */
}
